
html, body {
    height: 100vh;
    padding: 0;
    background-color:#760413;
}
#game_detail_image{
    max-height: 500px;
    max-width: 500px;
}

.collection_image{
    max-height: 130px;
    max-width: 130px;
}
.card {
    background-color: #D1E7E0;
}

.card .tag {
    background-color: #D1E7E0;
}

