{% extends 'base.html' %}
{% block content %}

<section>
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image">
                        <img src={{game['image_url']}} alt="{{game['name']}} image" id="game_detail_image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-1">{{game['name']}}</p>
                    <ul>
                        {% if g.user %}
                        {% if game['api_id'] not in ids %}
                        <li><button class="button is-success toggleCollection pl-2" id="{{game['api_id']}}"
                                type="button">
                                Add To Collection</button>
                        </li>
                        {%else%}
                        <li><button class="button is-info toggleCollection" id="{{game['api_id']}}" type="button">
                                <i class="far fa-check-square"></i> <span>&nbsp;</span> Collected
                            </button></li>
                        {% endif %}
                        {%else%}
                        <li><a class="button is-primary pl-2" href="/login">
                                Log in to Collect</a>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="collection_error" id="{{game['id']}}_collection_error"></div>

                    <p>Players: {{game['min_players']}} - {{game['max_players']}} </p>
                    <p>Playtime: {{game['min_playtime']}} - {{game['max_playtime']}} Min</p>
                    <p>Recommended Age: {{game['min_age']}}</p>
                    <p>MSRP: ${{game['msrp']}}</p>
                </div>
            </div>
            <div class="content">
                <p class="title is-4">Mechanics</p>
                <div class="tags">
                    {% for mechanic in game['mechanics'] %}
                    <span class="tag">
                        {{mechanic['name']}}
                    </span>
                    {% endfor %}
                </div>
                <p class="title is-4">Categories</p>
                <div class="tags">
                    {% for category in game['categories'] %}
                    <span class="tag">
                        {{category['name']}}
                    </span>
                    {% endfor %}
                </div>
            </div>
            <p class="title is-4">Description</p>
            <div class="content">
                {{game['description']|safe}}
            </div>
            {% if game['faq'] != ''%}
            <p class="title is-4">FAQ</p>
            <div class="content">
                {{game['faq']|safe}}
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}