{% extends 'base.html' %}
{% block content %}
<section class="hero is-info">
    <div class="hero-body">
        <p class="title">
            Welcome to the Vault
        </p>
        <p class="subtitle">
            A place to manage your board game collection and find new games for you and your friends.
        </p>
        <p>Sign up or Log in to get started!</p>
    </div>
</section>
<section>
    {% for game in games %}
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img src={{game['image_url']}} alt="Placeholder image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">{{game['name']}}</p>
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            <li><a class="button is-link" href="/games/{{game['id']}}">More Info</a></li>
                            {% if game['id'] not in ids %}
                            <li><button class="button is-success" data-id="{{game['id']}}" type="button"
                                    id="addCollection">Add To
                                    Collection</button>
                            </li>
                            {%else%}
                            <li><button class="button is-success" data-id="{{game['id']}}" type="button">In Your
                                    Collection</button>
                            </li>
                            {% endif %}

                        </ul>
                        <div id="collection_error"></div>
                    </nav>
                    <div class="media-content">
                        {{game['description']|safe}}
                    </div>

                </div>
            </div>


        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}