{% extends 'base.html' %}
{% block content %}
<section class="hero is-info has-text-centered">
    <div class="hero-body">
        <p class="title">
            Welcome to the Vault
        </p>
        <p class="subtitle">
            A place to manage your board game collection and find new games for you and your friends.
        </p>
        {% if not g.user %}
        <p>Sign up or Log in to get started!</p>
        {% endif %}
    </div>
</section>
<section>
    {% for game in games %}
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img src={{game['image_url']}} alt="{{game['name']}} image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">{{game['name']}}</p>
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            <li><a class="button is-link pl-3" href="/games/{{game['id']}}">More Info</a></li>
                            {% if g.user %}
                            {% if game['id'] not in collection_api_ids %}
                            <li><button class="button is-success toggleCollection pl-2" id="{{game['id']}}"
                                    type="button">
                                    Add To Collection</button>
                            </li>
                            {%else%}
                            <li><button class="button is-info toggleCollection" id="{{game['id']}}" type="button">
                                    <i class="far fa-check-square"></i> <span>&nbsp;</span> Collected
                                </button></li>
                            {% endif %}
                            {%else%}
                            <li><a class="button is-primary pl-2" href="/login">
                                    Log in to Collect</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    <div class="media-content">
                        {{game['description']|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}